<h1>New Followers</h1>
<% new_followers.each do |n| %>
	<%= n %>
<% end %>

<%= form_for :post, :url => url_for(:controller => 'interactions', :action => 'new_post') , method: 'post', html: { multipart: true } do |f| %>
	<%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
	<%= f.label(:title, 'Title') %>
	<%= f.text_field(:title) %>
	<%= f.label(:pre_body, 'Body') %>
	<%= f.text_area(:pre_body) %>
	<%= f.hidden_field :body %>
	<%= f.submit('Submit post', id: 'btn') %>
<% end %>

<%= javascript_tag do %>
	$('#btn').on('click', function() {
	  combined = $('#post_pre_body').val() + '\n\n<% new_followers.each do |n| %><a spellcheck="false" class="tumblelog"><%= n %></a><% end %>&nbsp;';
	  $('#post_body').val(combined);
	})
<% end %>