<div class="ui grid push-top">
	<div class="ui four wide column">
		<div class="ui segment form">
		<h1>New Followers</h1>
		<p>You've got <span id="count"><%= current_user.blogs.find(session[:blog_id] || current_user.blogs.first.id ).list.new_followers[0].size %></span> new followers!</p>
			<div class="field">
				<%= label_tag 'Get followers from:' %>
				<%= select_tag "blog_id", options_from_collection_for_select(current_user.blogs, "id", "name", session[:blog_id]), class: 'ui dropdown' %> 
				<ul id="list">
					<% current_user.blogs.find(session[:blog_id] || current_user.blogs.first.id ).list.new_followers[0].each do |f| %>
						<li><%= f %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="ui twelve wide column">
		<div class="ui segment">
			<h1>Create post</h1>
			<%= form_for :post, :url => url_for(:controller => 'interactions', :action => 'new_post'), method: 'post', html: { multipart: true, class: 'ui form' } do |f| %>
				<div class="six wide field">
					<%= f.label(:blog_post_id, 'Post as:') %>
					<%= f.select(:blog_post_id, options_from_collection_for_select(current_user.blogs, "id", "name"), {}, { :class => 'ui fluid search dropdown' }) %>
				</div>
				<div class="field">
					<%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
				</div>
				
				<div class="field">
					<%= f.label(:title, 'Title') %>
					<%= f.text_field(:title) %>
				</div>
				
				<div class="field">
					<%= f.label(:pre_body, 'Body') %>
					<%= f.text_area(:pre_body) %>
				</div>

				<%= f.hidden_field :body %>
				<%= f.submit('Submit post', id: 'submit', name: 'published', class: 'ui submit button') %>
				<%= f.submit('Send to draft', id: 'draft', name: 'draft', class: 'ui submit button') %>
			<% end %>
		</div>
	</div>
</div>

<%= javascript_tag do %>
	$('#submit, #draft').on('click', function() {
		combined = $('#post_pre_body').val() + '\n\n<% current_user.blogs.find(session[:blog_id] || current_user.blogs.first.id).list.new_followers[0].each do |n| %><a spellcheck="false" class="tumblelog"><%= n %></a><% end %>&nbsp;';
	  $('#post_body').val(combined);
	});
<% end %>