<!DOCTYPE html>
<html>
<head>
  <title>TumblrGreet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
	<div class="ui container">
		<% if notice %>
		<div class="ui info message">
			<i class="close icon"></i>
			<div class="header">
				<%= notice %>
			</div>
		</div>
		<% end %>
		<% if alert %>
		<div class="ui warning message">
			<i class="close icon"></i>
			<div class="header">
				<%= alert %>
			</div>
		</div>
		<% end %>
		<div>
			<% if current_user %>
				<div class="ui floating message">
					<p>Welcome, <%= current_user.name %>! <%= link_to "Sign out", signout_path, data: { no_turbolink: true } %></p>
				</div>
			<% end %>
		</div>

	<%= yield %>
	</div>

	<%= javascript_tag do %>
		$('.message .close')
		  .on('click', function() {
		    $(this)
		      .closest('.message')
		      .transition('fade')
		    ;
		  })
		;
	<% end %>
</body>
</html>
