<!DOCTYPE html>
<html>
<head>
  <title>TumblrGreet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<div>
		<% if current_user %>
			Welcome, <%= current_user.name %>!
			<%= link_to "Sign out", signout_path %>
		<% else %>
			<%= link_to "Sign in with Tumblr", '/auth/tumblr' %>
		<% end %>
	</div>

<%= yield %>

</body>
</html>
